@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
body{
  height: 100vh;
}
#root{
  height: 100vh;
}
.App {
  text-align: center;
  height: 100%;
  background-image: url("https://www.teahub.io/photos/full/35-351549_beautiful-river-scenery-wallpaper-scenic-backgrounds-hd.jpg");
}
.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  padding: 14px 16px;
  min-height: 8vh;
  background: transparent;
}
.Navbar a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 86vh;
}
.my-name {
  color: white;
  font-family: sans-serif;
}
.my-name h1 {
  font-size: 100px;
  margin: 0px;
}
.my-name h3 {
  font-size: 25px;
  margin: 10px;
  font-family: "Roboto Condensed", sans-serif;
}
.social {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.social li {
  padding: 10px;
}
.about-div {
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-about {
  height: 95%;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgba(299, 299, 299, 0.9);
  border-radius: 50px;
}
.summary {
  grid-area: 1 / 1 / 2 / 2;
}
.about-bottom-div {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.proficient-skills {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.familiar-skills {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.want-to-learn-skills {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.picture-description {
  height: 69%;
  display: flex;
  width: 45vw;
  justify-content: flex-end;
  margin-left: 25vw;
}
.picture-description img {
  border-radius: 50%;
  float: left;
}
.description {
  text-align: left;
  padding: 2px 18px;
  font-size: 24px;
  margin: 0;
}
.description-div {
  height: fit-content;
}
.skills-list {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: space-around;
}
.skills-list li {
  padding: 2px 0px;
}
.skills-list-div {
  margin: 15px;
  padding: 25px 55px;
  border: solid;
  box-shadow: 5px 5px 7px 5px lightgrey;
  width: 18vw;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
}
.skills-title {
  border: 0px;
  margin: 0px;
}
.colored {
  font-size: 3.5em;
  padding: 6px;
}
.resume-div {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-resume {
  height: 100%;
  width: 95%;
}
.contact-div {
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-contact {
  height: 50%;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .9fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgba(299, 299, 299, 0.9);
  border-radius: 50px;
}
.contact-me {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact-links {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: flex-start;
}
.contact-email {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-linkedin {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-phone {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linkedin-a {
  color: black;
  text-decoration: none;
}
.linkedin-a:hover {
  color: navy;
}
.projects-div {
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
}